// NAV MOBILE
.nav-logo {
  height: 36px;

  img {
    height: 100%;
  }
}

.header-mobile-wrap {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.64);
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 0;

  &-logo {
    height: 30px;

    img {
      height: 100%;
      width: auto;
    }
  }

  &-icon {
    i {
      font-size: 30px;
      color: #5070D6;
    }
  }

}

.cart-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 70px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.353);
  background-color: transparent;

  .nav-logo {
    height: 30px;

    img {
      width: auto !important;
    }
  }

  &-close {
    .clear-btn {
      padding: 0;
    }

    i {
      font-size: 24px;
      color: #fff;
    }
  }
}


.nav-item {
  height: 60px;
  border-bottom: 1px solid rgba(221, 221, 221, 0.353);
  width: 100%;
  display: flex;
  align-items: center;
  // font-size: 60px;

  &-icon {
    font-size: 20px;
    color: green;
    margin-right: 8px;
    margin-left: 4px;
    min-width: 30px;

    img {
      height: 100%;
      width: auto !important;
    }
  }

  &-name {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding-left: 10px;

    display: flex;
    align-items: center;

    i{
      margin-right: 8px;
      font-size: 16px;
    }
  }
}

.MuiModal-root {
  & div:nth-child(3) {
    background-image: linear-gradient(90deg, #083b48 10%, #4f2a63 90%) !important;
  }
}

.css-1hskriy {
  width: 300px !important;
}
