.background-intro{
    background-color: rgba(0, 0, 0, 0.08);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;

    &-image{
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &-wrap{
            position: relative;
            height: 100%;
        }

        img{
            height: 100%;
            width: auto;
        }
    }

    .lava{
        position: absolute;
        left: 1.5%;
        bottom: -15.9%;
        z-index: 10;
        transition: all .5s ease-in-out;
        transform: scale(.1);
        z-index: 10;
        animation: glow-lava 1s infinite alternate;
    }

    .glow{
        position: absolute;
        left: 14%;
        bottom: 16.3%;
        background-color: #10c2f3a1;
        z-index: 10;
        height: .001%;
        width: .001%;
        border-radius:50%;
        transition: all .5s ease-in-out;
        animation: glow-lava-hole 2s infinite alternate;

        &--1{
            left: 82.2%;
            bottom: 23.3%;
        }

        &--2{
            left: 32.1%;
            bottom: 11.1%;
            animation-delay: 0.7s;
        }

        &--3{
            left: 51.7%;
            bottom: 9.8%;
            animation-delay: 0.3s;
        }
    }
}