.ref{
    color: #fff;
    margin: 10px 0;
}

.depositeQR-img{
    margin: 10px 0;
   img{
     width: 200px;
   }
}
.deposite-modal-desc{
    display: flex;
    align-items: center;
    justify-content: center;

    img{
        width: 40px;
    }
}

.depositeQR-cancel{
    color: red;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid red;
    transition: all 0.5s ease;

    &:hover{
        cursor: pointer;
        background-color: red;
        color: #fff;
    }
}