.partner{
    // background-image: url(../../../public/images/DOWN.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 20px 0 0;
    overflow: hidden;

    .title{
        margin-bottom: 20px;
    }

    &-logo{
        display: flex;
        align-items: center;
        padding: 30px 20px;
        border-radius: 30px;
        margin-bottom: 30px;
        min-height: 130px;
        transition: all 0.5s ease-in-out;

        &:hover{
            cursor: pointer;
            transform: translateY(-10px);
            filter: drop-shadow(0 0 10px #445BBF);

            img{
                transform: scale(1.12);
            }
        }
    }

    
}